################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Playground.Common.Abstractions/bin/Debug/net6.0
/Playground.Common.Abstractions/obj
/Playground.Common.SDK/bin/Debug/net6.0
/Playground.Common.SDK/obj
/Playground.Common.TestService/obj
/Playground.Core.ProofOfConcepts.TestingHost/bin/Debug/net6.0
/Playground.Core.ProofOfConcepts.TestingHost/obj
/Playground.GrpcService/bin/Debug/net6.0
/Playground.GrpcService/obj
/Playground.GrpcService.SDK/bin/Debug
/Playground.GrpcService.SDK/obj
/Playground.GrpcServiceClient/bin/Debug/net6.0
/Playground.GrpcServiceClient/obj
/Playground.Host/obj
/Playground.HostConfiguration/bin/Debug/net6.0
/Playground.HostConfiguration/obj
/Playground.ServiceDiscovery/bin/Debug/net6.0
/Playground.ServiceDiscovery/obj
/Playground.ServiceDiscovery.SDK/bin/Debug/net6.0
/Playground.ServiceDiscovery.SDK/obj
/core/infrastructure/Playground.Core.SDK.HostConfiguration/bin/Debug/net6.0
/core/infrastructure/Playground.Core.SDK.HostConfiguration/obj
/core/infrastructure/Playground.Core.SDK.ServiceCommunication.Grpc/bin/Debug/net6.0
/core/infrastructure/Playground.Core.SDK.ServiceCommunication.Http/bin/Debug/net6.0
/core/infrastructure/Playground.Core.SDK.ServiceCommunication.Http/obj
/core/infrastructure/Playground.Core.SDK.ServiceCommunication.Grpc/obj
/core/pocs/Playground.Core.ProofOfConcepts.TestingHost/bin/Debug/net6.0
/core/pocs/Playground.Core.ProofOfConcepts.TestingHost/obj
/core/services/service-discovery/Playground.ServiceDiscovery/bin/Debug/net6.0
/core/services/service-discovery/Playground.ServiceDiscovery/obj
/core/services/service-discovery/Playground.ServiceDiscovery.SDK/bin/Debug/net6.0
/core/services/service-discovery/Playground.ServiceDiscovery.SDK/obj
/services/Playground.GrpcService/bin/Debug/net6.0
/services/Playground.GrpcService/obj
/services/Playground.GrpcService.SDK/bin/Debug
/services/Playground.GrpcService.SDK/obj
/services/Playground.GrpcServiceClient/bin/Debug/net6.0
/services/Playground.GrpcServiceClient/obj
/services/Playground.Host/obj
/core/infrastructure/Playground.Core.Infrastructure.SDK.HostConfiguration/bin/Debug/net6.0
/core/infrastructure/Playground.Core.Infrastructure.SDK.HostConfiguration/obj
/core/infrastructure/Playground.Core.Infrastructure.SDK.ServiceCommunication.Grpc/bin/Debug/net6.0
/core/infrastructure/Playground.Core.Infrastructure.SDK.ServiceCommunication.Grpc/obj
/core/infrastructure/Playground.Core.Infrastructure.SDK.ServiceCommunication.Http/bin/Debug/net6.0
/core/infrastructure/Playground.Core.Infrastructure.SDK.ServiceCommunication.Http/obj
/core/pocs/Playground.Core.Pocs.ServiceHost/bin/Debug/net6.0
/core/pocs/Playground.Core.Pocs.ServiceHost/obj
/core/services/service-discovery/Playground.Core.Services.ServiceDiscovery/bin/Debug/net6.0
/core/services/service-discovery/Playground.Core.Services.ServiceDiscovery/obj
/core/services/service-discovery/Playground.Core.Services.ServiceDiscovery.SDK/bin/Debug/net6.0
/core/services/service-discovery/Playground.Core.Services.ServiceDiscovery.SDK/obj
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.HostConfiguration/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.HostConfiguration/obj
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Grpc/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Grpc/obj
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Http/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Http/obj
/core/pocs/Unicorn.Core.Pocs.ServiceHost/bin/Debug/net6.0
/core/pocs/Unicorn.Core.Pocs.ServiceHost/obj
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery/bin/Debug/net6.0
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery/obj
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery.SDK/bin/Debug/net6.0
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery.SDK/obj
/services/Unicorn.GrpcService/bin/Debug/net6.0
/services/Unicorn.GrpcService/obj
/services/Unicorn.GrpcService.SDK/bin/Debug
/services/Unicorn.GrpcService.SDK/obj
/services/Unicorn.GrpcServiceClient/bin/Debug/net6.0
/services/Unicorn.GrpcServiceClient/obj
/core/development/Unicorn.Core.Development.ServiceHost/bin/Debug/net6.0
/core/development/Unicorn.Core.Development.ServiceHost/obj
/core/development/Unicorn.Core.Development.ClientHost/bin/Debug/net6.0
/core/development/Unicorn.Core.Development.ClientHost/obj
/core/development/Unicorn.Core.Development.ServiceHost.SDK/bin/Debug/net6.0
/core/development/Unicorn.Core.Development.ServiceHost.SDK/obj
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Common/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Common/obj
/core/infrastructure/Unicorn.Core.Infrastructure.Security.IAM/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.Security.IAM/obj
/core/services/authentication/Unicorn.Core.Services.Authentication.OpenIddict/.vscode
/core/services/authentication/Unicorn.Core.Services.Authentication.OpenIddict/bin/Debug/net6.0
/core/services/authentication/Unicorn.Core.Services.Authentication.OpenIddict/obj
/core/development/Unicorn.Core.Development.ClientHost/bin/Release/net6.0
/core/development/Unicorn.Core.Development.ServiceHost/bin/Release/net6.0
/core/development/Unicorn.Core.Development.ServiceHost.SDK/bin/Release/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.HostConfiguration/bin/Release/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Grpc/bin/Release/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.SDK.ServiceCommunication.Http/bin/Release/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.Security.IAM/bin/Release/net6.0/ref
/core/infrastructure/Unicorn.Core.Infrastructure.Security.IAM/bin/Release/net6.0
/core/services/authentication/Unicorn.Core.Services.Authentication.OpenIddict/bin/Release/net6.0
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery/bin/Release/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Common/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Common/obj
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Grpc.SDK/bin
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Grpc.SDK/obj
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Http.SDK/bin
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.Http.SDK/obj
/core/infrastructure/Unicorn.Core.Infrastructure.HostConfiguration.SDK/bin
/core/infrastructure/Unicorn.Core.Infrastructure.HostConfiguration.SDK/obj
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.MessageBroker/bin/Debug/net6.0
/core/infrastructure/Unicorn.Core.Infrastructure.Communication.MessageBroker/obj
/obj/Docker
/bin/Debug
/obj/Debug
/eShop/Unicorn.eShop.CartService/bin/Debug/net6.0
/eShop/Unicorn.eShop.CartService/obj
/eShop/Unicorn.eShop.CartService.SDK/bin/Debug/net6.0
/eShop/Unicorn.eShop.CartService.SDK/obj/Debug/net6.0
/eShop/Unicorn.eShop.CartService.SDK/obj
/eShop/Unicorn.eShop.CartService.Tests/obj
/eShop/Unicorn.eShop.CartService.Tests/bin/Debug/net6.0
/eShop/discount/Unicorn.eShop.Discount/bin/Debug/net6.0
/eShop/discount/Unicorn.eShop.Discount/obj
/eShop/discount/Unicorn.eShop.Discount.SDK/bin/Debug/net6.0
/eShop/discount/Unicorn.eShop.Discount.SDK/obj
/eShop/cart/Unicorn.eShop.CartService/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.CartService/obj
/eShop/cart/Unicorn.eShop.CartService.SDK/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.CartService.SDK/obj
/eShop/cart/Unicorn.eShop.CartService.Tests/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.CartService.Tests/obj
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery.DataAccess/bin/Debug/net6.0
/core/services/service-discovery/Unicorn.Core.Services.ServiceDiscovery.DataAccess/obj
/eShop/cart/Unicorn.eShop.Cart/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.Cart/obj
/eShop/cart/Unicorn.eShop.Cart.SDK/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.Cart.SDK/obj
/eShop/cart/Unicorn.eShop.Cart.Tests/bin/Debug/net6.0
/eShop/cart/Unicorn.eShop.Cart.Tests/obj
/obj
/eShop/cart/tests/Unicorn.eShop.Cart.Tests/bin/Debug/net6.0
/eShop/cart/tests/Unicorn.eShop.Cart.Tests/obj
/eShop/cart/Unicorn.eShop.Cart.DataAccess/obj
/eShop/catalog/Unicorn.eShop.Catalog/obj
/eShop/catalog/Unicorn.eShop.Catalog.SDK/obj
/eShop/cart/Unicorn.eShop.Cart.DataAccess/bin/Debug/net6.0
/eShop/catalog/Unicorn.eShop.Catalog/bin/Debug/net6.0
/eShop/catalog/Unicorn.eShop.Catalog.SDK/bin/Debug/net6.0
/core/services/api-gateway/Unicorn.Core.Services.ApiGateway.Ocelot/obj
/core/services/api-gateway/Unicorn.Core.Services.ApiGateway.Ocelot/bin/Debug/net6.0
