version: '3.4'

services:
    rabbitmq:
        container_name: rabbitmq
        restart: always
        ports:
            - "5672:5672"
            - "15672:15672"

    cartdb:
        container_name: cartdb
        environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin1234
            - POSTGRES_DB=CartDb
        restart: always
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data/

    servicediscoverydb:
        container_name: servicediscoverydb
        environment:
            - ACCEPT_EULA=Y
            - SA_PASSWORD=aDmin1234
        restart: always
        ports:
            - "1433:1433"

    unicorn.eshop.cart:
        container_name: unicorn.eshop.cart
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.eshop.cart:443;http://unicorn.eshop.cart:80
            - CartHostSettings__DbConnectionString=Server=cartdb;Port=5432;Database=CartDb;User Id=admin;Password=admin1234;
            - CartHostSettings__OneWayCommunicationSettings__ConnectionString=amqp://guest:guest@rabbitmq:5672
            - CartHostSettings__ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
        depends_on:
            - cartdb
            - rabbitmq
            - unicorn.core.services.servicediscovery
            - unicorn.core.services.apigateway.ocelot
        ports:
            - "8000:80"
            - "8001:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.core.services.servicediscovery:
        container_name: unicorn.core.services.servicediscovery
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.core.services.servicediscovery:443;http://unicorn.core.services.servicediscovery:80
            - ServiceDiscoveryHostSettings__DbConnectionString=Server=servicediscoverydb;Database=ServiceDiscoveryDb;User Id=sa;Password=aDmin1234;
        depends_on:
            - servicediscoverydb
        ports:
            - "8002:80"
            - "8003:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.eshop.discount:
        container_name: unicorn.eshop.discount
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.eshop.discount:443;http://unicorn.eshop.discount:80
            - DiscountHostSettings__DbConnectionString=Server=cartdb;Port=5432;Database=CartDb;User Id=admin;Password=admin1234;
            - DiscountHostSettings__OneWayCommunicationSettings__ConnectionString=amqp://guest:guest@rabbitmq:5672
            - DiscountHostSettings__ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
        depends_on:
            - unicorn.core.services.servicediscovery
            - rabbitmq
            - unicorn.core.services.apigateway.ocelot
        ports:
            - "8004:80"
            - "8005:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.eshop.catalog:
        container_name: unicorn.eshop.catalog
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.eshop.catalog:443;http://unicorn.eshop.catalog:80
            - CatalogHostSettings__OneWayCommunicationSettings__ConnectionString=amqp://guest:guest@rabbitmq:5672
            - CatalogHostSettings__ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
        depends_on:
            - unicorn.core.services.servicediscovery
            - rabbitmq
            - unicorn.core.services.apigateway.ocelot
        ports:
            - "8006:80"
            - "8007:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.core.services.apigateway.ocelot:
        container_name: unicorn.core.services.apigateway.ocelot
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.core.services.apigateway.ocelot:443;http://unicorn.core.services.apigateway.ocelot:80
        ports:
            - "8008:80"
            - "8009:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.core.services.systemstatus.healthcheck:
        container_name: unicorn.core.services.systemstatus.healthcheck
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.core.services.systemstatus.healthcheck:443;http://unicorn.core.services.systemstatus.healthcheck:80
            - ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
            - HealthChecksUI__HealthChecks__0__Name=unicorn.core.services.servicediscovery
            - HealthChecksUI__HealthChecks__0__Uri=http://unicorn.core.services.servicediscovery/hc
            - HealthChecksUI__HealthChecks__1__Name=unicorn.core.development.clienthost
            - HealthChecksUI__HealthChecks__1__Uri=http://unicorn.core.development.clienthost/hc
            - HealthChecksUI__HealthChecks__2__Name=unicorn.core.development.servicehost
            - HealthChecksUI__HealthChecks__2__Uri=http://unicorn.core.development.servicehost/hc
            - HealthChecksUI__HealthChecks__3__Name=unicorn.core.services.apigateway.ocelot
            - HealthChecksUI__HealthChecks__3__Uri=http://unicorn.core.services.apigateway.ocelot/hc
            - HealthChecksUI__HealthChecks__4__Name=unicorn.eshop.catalog
            - HealthChecksUI__HealthChecks__4__Uri=http://unicorn.eshop.catalog/hc
            - HealthChecksUI__HealthChecks__5__Name=unicorn.eshop.discount
            - HealthChecksUI__HealthChecks__5__Uri=http://unicorn.eshop.discount/hc
            - HealthChecksUI__HealthChecks__6__Name=unicorn.eshop.cart
            - HealthChecksUI__HealthChecks__6__Uri=http://unicorn.eshop.cart/hc    
        depends_on:
            - unicorn.core.services.servicediscovery
        ports:
            - "8010:80"
            - "8011:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    #unicorn.core.services.authentication.openiddict:
    #    container_name: unicorn.core.services.authentication.openiddict
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        - ASPNETCORE_URLS=https://+:443;http://+:80
    #        #- ASPNETCORE_Kestrel__Certificates__Default__Password=admin1234
    #        #- ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.aspnet/https/Unicorn.eShop.CartService.pfx
    #        #- ASPNETCORE_Kestrel__Certificates__Default__Path=/certificates/UnicornCertificate.pem
    #        #- ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/certificates/UnicornCertificate-key.pem
    #        - ASPNETCORE_Kestrel__Certificates__Default__Path=/root/certificates/2.pem
    #        - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/root/certificates/2-key.pem
    #    ports:
    #        - "8002:80"
    #        - "8003:443"
    #    volumes:
    #        - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    #        - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    #        - C:/Src/unicorn-project-microservices/certificates:/root/certificates
    #        #- $PWD/app/certificates:/certificates

    # The following services are for development only. These services are launched only when option
    # 'Development Docker Compose' in launch settings is selected 
    unicorn.core.development.clienthost:
        container_name: unicorn.core.development.clienthost
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.core.development.clienthost:443;http://unicorn.core.development.clienthost:80
            - ClientHostSettings__OneWayCommunicationSettings__ConnectionString=amqp://guest:guest@rabbitmq:5672
            - ClientHostSettings__ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
        depends_on:
            - unicorn.core.services.servicediscovery
            - rabbitmq
        ports:
            - "7001:80"
            - "7002:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    unicorn.core.development.servicehost:
        container_name: unicorn.core.development.servicehost
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=https://unicorn.core.development.servicehost:443;http://unicorn.core.development.servicehost:80
            - ServiceHostSettings__OneWayCommunicationSettings__ConnectionString=amqp://guest:guest@rabbitmq:5672
            - ServiceHostSettings__ServiceDiscoverySettings__Url=http://unicorn.core.services.servicediscovery
        depends_on:
            - unicorn.core.services.servicediscovery
            - rabbitmq
        ports:
            - "7003:80"
            - "7004:443"
        volumes:
            - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
            - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro